<!DOCTYPE html>
<html>

<head>
	<title>e-Blood Bank</title>
	<link rel="icon" href="../images/img.jfif" type="image/x-icon">
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/stylesheet.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
</head>

<body id="about-us">
	<header>
		<nav id="header-nav" class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a href="../index.html" class="pull-left visible-md visible-lg">
						<img id="logo" src="../images\img.jfif" alt="Logo">
					</a>
					<div class="navbar-brand">
						<a href="../index.html">
							<h1>e-Blood Bank</h1>
						</a>
						<p>Bring a Life Back to Power!!</p>
					</div>
					<button id="navbarToggle" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
						data-target="#collapsable-nav" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div id="collapsable-nav" class="collapse navbar-collapse">
					<ul id="nav-list" class="nav navbar-nav navbar-right">
						<li id="navHomeButton" class="visible-xs active">
							<a href="../index.html" id="Home_Black_background_List" >Home</a>
						</li>
						<li id="navMenuButton">
							<a href="login.html">
								<br class="hidden-xs"> DashBoard</a>
						</li>
						<li>
							<a href="blood_bank.html">
								<br class="hidden-xs"> Blood Bank</a>
						</li>
						<li>
							<a href="Camps.html">
								<br class="hidden-xs"> Camps</a>
						</li>
						<li>
							<a href="login.html" onclick="login.html">
								<br class="hidden-xs"> Login</a>
						</li>
						<li>
							<a href="#">
								<br class="hidden-xs"> About Us</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<div class="container-fluid">
		<div class="row">

			
			<div class = "hospital col-md-5 col-xs-12 container">
				<img src="../images/hospital1.jfif" class = "hospital-images">
				<p id="hospital-name">Star Hospitals</p>
				<a href="tel:9848345499" id="call-btn" class="btn">
					<span>Conact Them Here</span>
				</a>
				<p id="adress">DilshukNagar,Hyderabad</p>
			</div>

			<div class="col-md-2"></div>

			<hr class="visible-xs">

			<div class = "hospital col-md-5 col-xs-12 container">
				<img src="../images/hospital2.jfif" class = "hospital-images">
				<p id="hospital-name">Star Hospitals</p>
				<a href="tel:9848345499" id="call-btn" class="btn">
					<span>Conact Them Here</span>
				</a>
				<p id="adress">DilshukNagar,Hyderabad</p>
			</div>

			<hr class="visible-xs">

			<div class = "hospital col-md-5 col-xs-12 container">
				<img src="../images/hospital3.jfif" class = "hospital-images">
				<p id="hospital-name">Star Hospitals</p>
				<a href="tel:9848345499" id="call-btn" class="btn">
					<span>Conact Them Here</span>
				</a>
				<p id="adress">DilshukNagar,Hyderabad</p>
			</div>

			<div class="col-md-2"></div>

			<hr class="visible-xs">

			<div class = "hospital col-md-5 col-xs-12 container">
				<img src="../images/hospital4.jfif" class = "hospital-images">
				<p id="hospital-name">Star Hospitals</p>
				<a href="tel:9848345499" id="call-btn" class="btn">
					<span>Conact Them Here</span>
				</a>
				<p id="adress">DilshukNagar,Hyderabad</p>
			</div>

			<hr class="visible-xs">

			<div class = "hospital col-md-5 col-xs-12 container">
				<img src="../images/hospital5.jfif" class = "hospital-images">
				<p id="hospital-name">Star Hospitals</p>
				<a href="tel:9848345499" id="call-btn" class="btn">
					<span>Conact Them Here</span>
				</a>
				<p id="adress">DilshukNagar,Hyderabad</p>
			</div>

			<div class="col-md-2"></div>

			<hr>

			<div class = "hospital col-md-5 col-xs-12 container">
				<img src="../images/hospital6.jfif" class = "hospital-images">
				<p id="hospital-name">Star Hospitals</p>
				<a href="tel:9848345499" id="call-btn" class="btn">
					<span>Conact Them Here</span>
				</a>
				<p id="adress">DilshukNagar,Hyderabad</p>
			</div>

		</div>
	</div>

	<footer class="panel-footer">
		
		<div id="footer" class="container">

			<section id="pages" class="col-sm-4">
				<div>
					<a href="blood_bank.html">Blood Bank</a>
				</div>
				<div>
					<a href="Camps.html">Camps</a>
				</div>
				<div>
					<a href="login.html">Login</a>
				</div>
				<div>
					<a href="about.html">About Us</a>
				</div>
			</section>

			<hr class="visible-xs">

			<section id = "contact-us"class = "col-sm-4">
					<p>Conatct Us:</p>
					<a href="mailto:ebloodbank@gmail.com"><p>Send a email</p></a>

			</section>

			<hr class="visible-xs">


			<section class="col-sm-4">
				
				<ul class="social-icons">
					<li><a href="https://www.facebook.com"><img src='..\images\Facebook.png' /></a></li>
					<li><a href="https://www.twitter.com"><img src='..\images\Twitter.png' /></a></li>
					<li><a href="https://www.youtube.com"><img src='..\images\Youtube.png' /></a></li>
				</ul>

			</section>

		</div>
	</footer>



	<script src="../js/jquery-2.1.4.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
</body>

</html>